.main {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
    margin: 25px;
}

.card {
  display:flex;
  margin: 10px;
  cursor: pointer;
  flex-direction: column;
  min-width: 120px;
  padding: 10px;

  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.card a {
  text-decoration: none;
  color: #fff;
  text-align: center;

  display:flex;
  align-items: center;
  flex-direction: column;


}

.card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.side {
  background: transparent;

}
.content {
  letter-spacing: 0.5px;
  font-size: 1.1em;
}

.content p {
  padding: 0px 10px;
}

@media (max-width: 480px) {
  .container {
    margin: 2px;
    flex-wrap: nowrap;
    width: 100%;
    overflow: scroll;
  }

  .card {
    padding: 10px 2px;
    flex-basis: 40%;
  }
}

