
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    /* border-radius: 25px; */
    background-color: #131212;
    color: #a09bf1;;
    font-family: monospace;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .labelSpan {
    width: 100px;
    display: inline-block;
    font-family: sans-serif;
    color: #717171;
  }

  .categoryLink {
      margin: 30px;
  }

  .hrlink {
      opacity: 0.2;
  }

  .linkSpan {
      padding: 5px;
  }